
.home-background {
    background-image: url('/assets/images/restaurant -5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: -webkit-fill-available;
}


.dashboard-background {
    background-image: url('/assets/images/restaurant -2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: -webkit-fill-available;
}